

<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>Demo App</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="store" >
<div class="container">

                        <div id="banner" >
                          <%= image_tag("logo.png") %>
                          <%= @page_title || "Pragmatic Bookshelf" %>
                        </div>
                          <div class="navbar">
                            <div class="navbar-inner">
                              <div class="container">
                                <%= render 'layouts/navigation' %>
                              </div>
                            </div>
                          </div>


            <div class="row">
                      <div class="span3">
                        <%= render 'layouts/cartside' %>
                      </div>
                      <div class="span9">
                        <%= render 'layouts/messages' %>
                          <%= yield %>
                       </div>
            </div>
            <div class="row">
                <%= render 'layouts/footer'%>
            </div>


 </div>
 </body>
</html>
